.fondoL {
  background-image: url("https://cutewallpaper.org/21/mario-mushroom-wallpaper/clouds-Mario-mushrooms-One-Million-Years-B.C.-One-Up-.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.frase {
  font-size: 4rem;
  color: #ffffff;
  font-family: "MV Boli";
  margin-left: 260px;
  top: 30px;
  text-shadow: 6px 8px 8px rgb(9, 182, 235);
}

.boton {
  --glow-color: #7ccdf4;
  --glow-spread-color: #00a2f0;
  --enhanced-glow-color: #acf4fe;
  --btn-color: #171e2e;
  outline: none;
  border: 0.2em solid var(--glow-color);
  padding: 1em 2em;
  color: var(--glow-color);
  font-size: 30px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.2em var(--glow-color),
    0 0 3em 1em var(--glow-spread-color),
    inset 0 0 0.73em 0.2em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);

  transition: all 0.3s;
  position: relative;
  top: 300px;
  right: 340px;

  font-family: "Verdana";
}

.boton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(1em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.boton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.2em var(--glow-color),
    0 0 3em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}
