.ul {
  padding-left: 0px;
}

.paginado {
  margin-bottom: 2%;
  display: inline-flex;
  justify-content: space-around;
  height: 1em;
  flex-wrap: wrap;
  flex-direction: row;
}

.botonPaginado {
  font-family: "Staatliches";
  font-size: 18px;

  color: #ffffff;
  background-color: #00a2f0;
  border: none;
  border-radius: 2px;
  padding: 4px 13px;
  margin: 10px 10px;
  box-shadow: 2px 2px 15px #00a2f0;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
