.inputS {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border-color: #ffffff;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "Red Hat Display", sans-serif;
}

.botonS {
  height: 35px;
  font-size: 13px;
  font-weight: bold;
  margin-left: 2px;
  color: #00a2f0;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  transition: all ease 200ms;
  cursor: pointer;
  outline: none;
  font-family: "Red Hat Display", sans-serif;
}

.botonS:hover {
  background-color: #7ccdf4;
  color: #fff;
}

.botonS:active {
  transform: translateY(3%);
}
